{% extends "base.html" %}

{% block content %}

<form action="/welcome" method="post">
    <label>
        Username        
        <input type="text" name="username" value="{{username}}">
        <span class="error">{{ usererror }}</span>
        </input>
    </label>
    <br>
    <label>
        Password        
        <input type="password" name="password">
        <span class="error">{{ passerror }}</span>
        </input>
    </label>
    <br>
    <label>
        Verify Password 
        <input type="password" name="verify">
        <span class="error">{{ verifyerror }}</span>
        </input>
    </label>
    <br>
    <label>
        Email(Optional) 
        <input type="text" name="email" value="{{email}}">
        <span class="error">{{ emailerror }}</span>
        </input>
    </label>
    <br>
    <input type="submit" id="Submit"/>
</form>

{% endblock %}